Find{% extends 'layout.html' %}

{% block content %}




<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/feed.css')}}">

{% if page=='search' %}
<div style='width:100%'>
  <div style="display:block; margin:auto; width:250px;">
    <div class="row">
    <a href="#" class="btn btn-info " id="itemsbutton" style="display: block; margin:auto; width:100px;">Items</a>
    <a href="#" class="btn btn-info " id="storesbutton" style="display: block; margin:auto; width:100px;">Stores</a>
  </div>
  </div>
</div>
{% endif %}

<div class="row mt-4 page-content " id="items">

  <div class="col-lg-2 col-12">

  </div>

  <div class="col col-lg-5 col-12  content center-block">
    {% if page=='search' %}
    {% if not items %}
    <h3>Nothing came up from your search</h3>
    {% endif %}
    {% endif %}

    {% for item in items %}



    <div class="card " id="feedcontent" style="margin:auto;  margin-bottom:{% if loop.last %}20px{% else %}20px {% endif%}; width:600px; ">
      <h4 class="mt-2" id="post-heading" style="margin-left:20px; font-weight:200;">{{item.description}}</h4>
      <h5 class="mt-2" id="post-heading-mobile" style="margin-left:20px; font-weight:200;">{{item.description}}</h5>
      <span class="location" style="position:absolute; right:20px; top:14px; font-weight:400; font-size:12pt;" index="{{loop.index}}" location="{{item.location}}" >{{loop.index}}</span>
      <div class="" style=" background-color: rgba(210, 210, 210, 0.61); width:100%; margin-left:-1px; margin-top:10px;">
        <hr style="margin-bottom:-10px; margin-top:-1px;">
        <img src="{{url_for('static', filename='items/' + item.img)}}" alt=""  width="80%" height="{{(item.img_height)}}" style="display: block; margin:auto  ; margin-top:10px; margin-bottom:10px; ">
        <hr style="margin-top:-10px; margin-bottom:-1px;">
      </div>
      <a href="{{url_for('store_redirect', id=item.store)}}#{{item.id}}" style="margin-bottom:15px; margin-left:20px; margin-top:15px"  class="text-primary">See item in store</a>
      <a href="https://www.google.com/maps/dir/{{current_user.location}}/{{item.location}}"  item="{{item.id}}" target="_blank" style="position:absolute; right:20px; bottom:10px;" class="btn btn-success btn-sm  {% if not current_user.business %}  clickthrough {% endif %} ">Find Store</a>
    </div>
    {% if page=='feed' %}
    {% if loop.last %}
    <div id="last">

    <div class="card" style=" width:600px; margin:auto;">
      <p style="text-align:center; margin-top:20px;" last="5" id="lastitem">Loading More Items</p>
      <div class="spinner-border text-primary m-auto"  role="status">
  <span class="sr-only">Loading...</span>
  </div>
  <div style="height:20px;"></div>

    </div>
    <div style="height:100px;"></div>
  </div>
    {% endif %}
    {% endif %}

    {% endfor %}
  </div>


  <div class="col-xs-4 col-xs-offset-1 sidebar-outer">
    <div class="fixed card col-md-3" >
      <h5 style="font-weight:200">My Stores</h5>
      <hr style="margin: -5px 0 0px 0">
      {% if not mystores %}
      <p class="text-center mt-2">You don't follow any stores yet.</p>
      {% endif %}
      {% for follow in mystores %}
      {% if lastids[follow.store] > 0 %}
      <a href="{{url_for('store_redirect', id=follow.store)}}"  class="storesidebar">
        <div class="mt-1 mb-1 row" style="">
          <div class="col">
          <h5 style="">{{follow.storeName}}</h5>
        </div>
        <div class="col">
          <p class="text-primary">{{lastids[follow.store]}} new items</p>
        </div>

        </div>
      </a>
      {% endif %}
      {% endfor %}
      {% for follow in mystores %}
      {% if lastids[follow.store] ==0 %}
      <a href="{{url_for('store_redirect', id=follow.store)}}"  class="storesidebar">
        <div class="mt-1 mb-1 row " style="">
          <div class="col ">
          <h5 style="">{{follow.storeName}}</h5>
        </div>
        <div class="col col-md-4 " style="text-align:right">
          <p>No new items</p>
        </div>

        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

{% if page=='search' %}
<div class="page-content mt-5 row " id="stores" style="display:none;">
  <div class="col-md-4 "></div>
  <div class="col-md-4 mt-2 ">
    <div class="row " style="display:inline-block;  width:100%;" >
  {% if not stores %}
  <h3>Nothing came up from your search</h3>
  {% endif %}
  {% for store in stores %}
  <a href="{{url_for('store_redirect', id=store.id)}}">
  <div class="card " style="width:100%;">
    <div class="m-2">
      <h2>{{store.name}}</h2>
    <p >{{store.description}} , {{store.address}}</p>
  </div>
  </div>
  </a>

  {% endfor %}
</div>
</div>
</div>
{% endif %}

<script type="text/javascript">
  $('.clickthrough').click(function(){
    item = $(this).attr('item');
     req = $.ajax({
       url: '/clickthrough',
       type: 'POST',
       data: {item : item}
     });

     req.done(function(data){
       console.log('clicked');
     })
  })
</script>



{% if page=='feed' %}
<script src="{{url_for('static', filename='scripts/fetch_new_items.js')}}"> </script>
{% endif %}

<script type="text/javascript">

</script>




<script src="{{url_for('static', filename='scripts/feedscript.js')}}"></script>
<script src="{{url_for('static', filename='scripts/feed_search.js')}}"></script>



{% endblock %}
