{% extends 'layout.html' %}

{% block content %}
{% for item in items %}
<a  name='{{item.id}}' type="button" name="button" class="item-button" style="margin:10px; color: inherit">
<div class="card " style="">

  <img src="{{url_for('static', filename='items/' + item.img)}}" alt="" height="{{item.img_height}}" width="{{item.img_width}}" style="margin: {{(250-img_height)/2}} {{(250-img_width)/2}} {{(250-img_height)/2}} {{(250-img_width)/2}} ; border:1px solid black; border-radius:5px;" >
  <h5 class="ml-3">{{item.description}} {{item.img_width}}</h5>

</div>
</a>
{% endfor %}
{% endblock %}
