<div class="" style="width:400px; position:absolute; top:25%; right: 20%">
<form class="form-control" style="" id='login' method="post">
    <h3 style="text-align:center; margin:5px;">Welcome Back</h3>

    <div class="form-content m-2">

    <label for="username" class="full">Username</label>
    <input class="full" type="text" name="name" value="">
    <label class="full" for="password">Password</label>
    <input class="full" type="password" name="password" value="">
    <label for="remember" style="margin-bottom: 8px;">Remember me:</label>
    <input type="checkbox" name="remember" style="" value="">
    <input class="full btn btn-success" type="submit"  name=""  value="Login">

  </div>
  <p class=" mt-4" style="display:inline-block;">Don't have an account? <button type="button" id="shift-to-register" name="button" style="border:none; background:none; color: rgb(119, 130, 207)">Register</button>  </p>
</form>
</div>
