{% extends 'layout.html' %}

{% block content %}
<form class="" action='{{url_for("newItemUpload")}}' style="width:100%;" method="POST" enctype="multipart/form-data">
<div class="row mt-4">
  <div class="col col-xl-6 col-12" style="margin-bottom:0px;">
    <div class="card" style="height:60vh;">
      <h3 style="font-weight:200; margin:auto; margin-top: 150px;" id="addimg">Add Image</h3>
      <div class style="">
        <input type="file" name="image" accept="image/*" onchange="loadFile(event)" style="display:none;" id="imginp">

    </div>
    <label for="imginp" class="btn btn-info" style="margin:auto; margin-top:-50px; z-index:10;" id='uploadimglabel'>Upload</label>
    <img id="output" style="margin:auto; border-radius:10px;"  />
      <img src="" alt="" style="">
    </div>
  </div>
  <div class="col col-xl-5 col-12" style="margin-top:-70px;">
    <div class="card" style="margin-top:100px;">
      <div class="m-3">

        <label for="" style="width:100%; margin-bottom:0px;">Description</label>
        <input type="text" class="form-control" name="description" value="" style="margin-bottom:20px;" placeholder="Description">

        <label for="" style="width:100%; margin-bottom:3px;">Tags</label>
        <input type="text" class="form-control" name="tag1" value="" style="margin-bottom:5px; height:30px; width:50%;" placeholder="Tag 1">
        <input type="text" class="form-control" name="tag2" value="" style="margin-bottom:5px; height:30px; width:50%;" placeholder="Tag 2">
        <input type="text" class="form-control" name="tag3" value="" style="margin-bottom:5px; height:30px; width:50%;" placeholder="Tag 3">

        <input type="submit" name="" value="Post" class="btn btn-success" style="position:absolute; right:20px; bottom:21px; width:100px;">
      </div>
    </div>
  </div>
</div>
</form>

<script type="text/javascript">
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      if (this.height > this.width) {
        $('#output').attr('height', '90%');
        $('#output').attr('width', '');
      }
      else {
        $('#output').attr('height', '');
        $('#output').attr('width', '90%');
      }
      $('#uploadimglabel').css('position', 'absolute');
      $('#uploadimglabel').css('bottom', '30px');
      $('#uploadimglabel').css('right', '20px');
      $('#uploadimglabel').text('Upload New');
      URL.revokeObjectURL(output.src);
     // free memor
    }
    $('#addimg').hide();

  };
</script>
<script type="text/javascript">

</script>

{% endblock content %}
