<div class="" style="width:400px; position:absolute; top:20%; right: 20%">

<form class="form-control" autocomplete="off" style="display:none;" id='register' method="post">
    <h3 style="text-align:center"></h3>
    <p style="text-align:center"><i>CREATE ACCOUNT</i></p>

    <div class="form-content m-2">

    <label for="username" class="full">Username</label><br>
    <input class="full" type="text" name="name" value=""> <br>

    <label class="full" for="password">Password</label> <br>
    <input class="full" type="text" name="password" value=""> <br>

    <label for="partycode" class="full">Party Code</label><br>
    <input class="full" type="text" name="partycode" value=""> <br>

    <label class="full" for="type">I am a: </label>
    <ul class=" choosetype form-control" style="margin-left:-.5%; margin-top:-10px; width:102.4%; border:none;">
      <li>
        <input type="radio"  id='Player' name="type"  checked='checked' value="false">
      <label for="Player">Player</label>
    </li>
    <li style="margin-left:0px;">
      <input type="radio"  id="gamemaster" name="type"  value="true">
      <label for="gamemaster">Gamemaster</label>
    </li>
    </ul>
    <label for="remember" class="mt-3 mb-2">Remember me:</label>
    <input type="checkbox" name="remember" value="">
    <input class="full btn btn-success" type="submit" name="" value="Register Account">

  </div>
  <p class=" mt-4" style="display:inline-block;">Already have an account? <button type="button" id="shift-to-login" name="button" style="border:none; background:none; color: rgb(119, 130, 207)">Login</button>  </p>

</form>

</div>
