{% extends 'layout.html' %}

{% block content %}

<style media="screen">
  .sidebar-outer {
    margin-top: 100px;
    position: relative;
  }

  .fixed {
    position: fixed;
  }

  a {
    color: inherit;
    text-decoration:none;
  }
  a:hover {
    text-decoration:none;
    color:inherit;
  }

  .storesidebar:hover {
    animation-name: bg-dark;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
  }

  @keyframes bg-dark {
    0% {

    }
    100% {
      background-color: rgba(192, 194, 193, .8)
    }
  }
  body {
    margin:0;
  }

  #post-heading-mobile {
    display:none;
  }



  #feedcontent {
    width:80%;
  }

  @media (max-width:900px){
    #feedcontent {
      width:100%;
    }
    #post-heading {
      display:none;
    }
    #post-heading-mobile {
      display:block;
    }
  }


</style>


<div class="row mt-4 ">

  <div class="col-lg-2 col-12">

  </div>

  <div class="col col-lg-5 col-12  content center-block" >

    {% for item in items %}


    <div class="card " id="feedcontent" style="margin:auto; margin-bottom:20px; ">
      <h4 class="mt-2" id="post-heading" style="margin-left:20px; font-weight:200;">{{item.description}}</h4>
      <h5 class="mt-2" id="post-heading-mobile" style="margin-left:20px; font-weight:200;">{{item.description}}</h5>
      <div class="" style=" background-color: rgba(210, 210, 210, 0.61); width:100%; margin-left:-1px; margin-top:10px;">
        <hr style="margin-bottom:-10px; margin-top:-1px;">
        <img src="{{url_for('static', filename='items/' + item.img)}}" alt=""  width="80%" style="display: block; margin:auto  ; margin-top:10px; margin-bottom:10px; ">
        <hr style="margin-top:-10px; margin-bottom:-1px;">
      </div>
      <a href="{{url_for('store_redirect', id=item.store)}}" style="margin-left:20px; margin-top:10px;">See store</a>
    </div>


    {% endfor %}
  </div>


  <div class="col-xs-4 col-xs-offset-1 sidebar-outer">
    <div class="fixed card col-md-2">
      <h5 style="font-weight:200">My Stores</h5>
      <hr style="margin: -5px 0 0px 0">
      {% for store in mystores %}
      <a href="{{url_for('global_store', store_url=store.url)}}"  class="storesidebar">
        <div class="mt-1 mb-1 row" style="">
          <div class="col">
          <h5 style="">{{store.name}}</h5>
        </div>
        <div class="col ">
          <p>{{store.items | length}} new items this week</p>
        </div>

        </div>
      </a>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
