{% extends 'layout.html' %}
{% block content %}
<style media="screen">
  .item-button:hover div {
    background-color: rgb(221, 240, 234);
  }
</style>

{% if store == current_user.store[0]%}

{% endif %}

<div class="" >
  <div class="row">
    <img src="https://www.duluthtrading.com/on/demandware.static/-/Sites/default/dwec506700/images/stores/Franklin-TN-store.jpg" style="border-radius:10px;width:100%; height:490px;" alt="">
  </div>
  <div class="row" style=" position:relative; top:-250px; background: linear-gradient(to bottom, rgba(231, 72, 46, .0) 0%, rgb(231, 72, 46) 65%); height:250px;">
    <p style="position:absolute; bottom:10px; left:30px; color:white; font-family: calibri;">
      <span style="font-size:24pt; ">{{store.name}}</span>
      <span style="margin-left:20px; font-size:12pt;">{{store.address}}</span>
      <span style="margin-left:20px; font-size:12pt;">{{store.items|length}} Items</span>
      <span style="margin-left:20px; font-size:12pt;"><span id="followcount">{{followers}}</span> followers</span>
    </p>
    <div style="position:absolute; bottom:15px; width:96%; left:2%; background:white; height:2px;">
    </div>
    <button  class="btn btn-sm btn-info " style="position:absolute; right:50px; bottom:35px;border-radius:3px;" store="{{store.id}}" id="follow-button">{% if following %}Unfollow{% else %} Follow{% endif %}</button>

  </div>
  <div class="row" style=";background: rgb(231, 72, 46);  margin-top:-249.9px; margin-bottom:50px; border-radius: 0 0 10px 10px; ">
    <div class="items container" style="margin-left:90px;">

    {% if not store.items %}
    <div class="" style="margin-left:-90px; margin-top:40px;">

      <h3 style="color: white; text-align:center; font-weight:400">Nothing here yet..</h3>
    </div>

    {% endif %}

    {% for item in store.items %}
    <a  name='{{item.id}}' type="button" name="button" class="item-button" style="margin:10px; color: inherit">
    <div class="card " style="width:{{item.img_width/2 + 20}}px; ">
      <img src="{{url_for('static', filename='items/' + item.img)}}" alt="" height="{{item.img_height/2}}px" width="{{item.img_width/2}}px" style="margin-left:10px; margin-top:10px;  border-radius:5px;" >
      <h5 class="text-center">{{item.description}}</h5>
    {% if current_user.store[0] == store %}
    <button type="button" name="{{item.id}}" class="btn btn-danger btn-sm deletebutton" style="position:absolute; border:2px solid black;">Delete</button>
    {% endif %}
    </div>
  </a>
    {% endfor %}
    <section style="height:50px;"></section>
  </div>
</div>


</div>


<script type="text/javascript">
  $('.deletebutton').click(function(){
    let id = $(this).attr('name');
    req = $.ajax({
      url : '/delete_item',
      type: 'POST',
      data : {id:id}
    })

    req.done(function(){
      window.location.reload();
    })
  })

  $(document).ready(function(){
      let num = $('#followcount').text();
      if (num>999999) {
        num = String((num / 1000000).toFixed(1) + 'M')
      }
      if (num>999) {
        num = String((num / 1000).toFixed(1) + 'K');
      }
      $('#followcount').text(num);
  })


  $('#follow-button').click(function(){
    req = $.ajax({
      url : '/check_following',
      type: 'POST',
      data : { id : $('#follow-button').attr('store')}
    });
    req.done(function(data){
      $('#follow-button').text(data.result);
    })

  })
</script>

{% endblock content %}
