{% extends 'layout.html' %}
{% block content %}

<style media="screen">
  .item-setting {
    display:none;
  }

  .item-button:hover .item-setting{
    display:block;
    animation-name: fadeIn_button;
    animation-duration: 200ms;
    animation-fill-mode:forwards;
  }

  @keyframes fadeIn_button {
    0% {
      opacity:0%;
    }
    100% {
      opacity: 100%;
    }
  }
</style>


<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/store.css')}}">



<div class="" style="" id="storepagemobile" store="{{store.id}}" >
  <div class="row">
    <img src="{{url_for('static', filename='store/' +store.img)}}" style="border-radius:10px;width:100%; height:490px;" alt="">
  </div>
  {% if store == current_user.store[0]%}
  <div id="changepic" style="position:absolute; z-index:100;  background:white; border-radius:5px; border:none; padding:5px;  text-align:right; ">
      <a name="change-background" style="font-weight:500;">Change background</a>

  </div>
  {% endif %}
  <div class="row" style=" position:relative; top:-250px; background: linear-gradient(to bottom, rgba(231, 72, 46, .0) 0%, rgb(231, 72, 46) 65%); height:250px;">
    <p style="position:absolute; bottom:10px; left:30px; color:white; font-family: calibri;">
      <span style="font-size:24pt; ">{{store.name}}</span>
      <span style="margin-left:20px; font-size:12pt;">{{store.address}}</span>
      <span style="margin-left:20px; font-size:12pt;">{{store.items|length}} Items</span>
      <span style="margin-left:20px; font-size:12pt;"><span id="followcount">{{followers}}</span> followers</span>
    </p>
    <div style="position:absolute; bottom:15px; width:96%; left:2%; background:white; height:2px;">
    </div>
    <a href="https://www.google.com/maps/dir/{{current_user.location}}/{{store.address}}"  style="position:absolute; right:130px; bottom:35px;border-radius:3px;" class="btn btn-success btn-sm" target="_blank">Directions</a>
    <button  class="btn btn-sm btn-info " style="position:absolute; right:50px; bottom:35px;border-radius:3px;" store="{{store.id}}" id="follow-button">{% if following %}Unfollow{% else %} Follow{% endif %}</button>

  </div>
  <div class="row" style=";background: rgb(231, 72, 46);  margin-top:-249.9px; margin-bottom:50px; border-radius: 0 0 10px 10px; ">
    <div class="items container" style="margin-left:90px;">

    {% if not store.items %}
    <div class="" style="margin-left:-90px; margin-top:40px;">

      <h3 style="color: white; text-align:center; font-weight:400">Nothing here yet..</h3>
    </div>

    {% endif %}

    {% for item in store.items %}
    <a  id='{{item.id}}'' name='{{item.id}}' type="button" name="button" class="item-button" style="margin:10px; color: inherit">
    <div class="card " style="width:270px;">
      <img src="{{url_for('static', filename='items/' + item.img)}}" alt="" height="{{item.img_height/2}}px" width="{{item.img_width/2}}px" style="margin-left:{{(270-(item.img_width/2))/2}}px; margin-top:10px;  border-radius:5px;" >
      <h5 class="text-center" style="font-weight:200">{{item.description}}</h5>
    {% if current_user.business %}
    {% if current_user.store[0].id == store.id %}
    <button type="button" class="check-stats btn btn-info btn-sm item-setting" item="{{item.id}}" name="button" style="z-index:100; position:absolute; right:0px; " >Stats</button>
    <button type="button" name="{{item.id}}" class="item-setting btn btn-danger btn-sm deletebutton" style=" position:absolute; ">Delete</button>
    <div class="stats" item="{{item.id}}" style=" position: absolute; height:100%; top:0px; width:100%;display:none;">
      <div class="" style="height:100%; background: rgba(255, 255, 255, 0.7)">


        <p style="display:block;text-align:right; position:absolute; top:50px; right:0px;">{{item.clickthroughs}} Clickthroughs</p>
        <button type="button" class="close-stats btn btn-danger btn-sm" style="position:absolute; right:0px; top:80px;"  item="{{item.id}}" name="button">close</button>


      </div>
    </div>
    {% endif %}
    {% endif %}
    </div>
  </a>
    {% if loop.last %}
    <p style="display:none;" id="last-item" item="{{item.id}}" store="{{store.id}}"></p>
    {% endif %}
    {% endfor %}
    <section style="height:50px;"></section>
  </div>
</div>

  <div class="card" id="change-background" style="position:absolute; width:156px; border:none; top:90px; display:none;">

      <form class="m-3" action="{{url_for('changebackground')}}"  id="backgroundForm" method="post" enctype="multipart/form-data">

        <input type="file"  name="image" id="backimg" style="display:none" value="">
        <label for="backimg" style="margin-top:-5px; margin-left:24px;" class="btn btn-info">Upload</label>

    </form>
    <button type="button" id="close-change-background" class="btn btn-danger"name="button">Nevermind</button>
  </div>


</div>






<script type="text/javascript">
  $(document).ready(function(){
    var storeid = $('#last-item').attr('item');

    var store = $('#last-item').attr('store');
    req = $.ajax({
      url : '/update_last_seen',
      type: 'POST',
      data: {storeid : storeid, store: store}
    });

    req.done(function(data){
      console.log('done');
    });


  });


  $('.check-stats').click(function(){
    item = $(this).attr('item');
    $('.stats[item='+item+']').fadeIn(100);
  })

  $('.close-stats').click(function(){
    item = $(this).attr('item');
    $('.stats[item='+ item + ']').fadeOut(100);
  })
</script>

{% if not current_user.business %}
<script type="text/javascript">
  function addview(){
    let storeid = $('#storepagemobile').attr('store');
    req = $.ajax({
      url : '/add_view_store',
      type: 'POST',
      data: {'store' : storeid}
    });


  }
  addview();
</script>
{% endif %}


<script src="{{url_for('static', filename='scripts/backgroundchange.js')}}"></script>
<script src="{{url_for('static', filename='scripts/storelogic.js')}}"></script>

{% endblock content %}
